<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tangram Demo</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    ul {
		  list-style-type: none;
		}
		.row+.row {
      margin-top: 1rem;
    }
  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Tangram Demo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container" id="app">

    <h1 class="my-4">Tables</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-sm-3 mb-4" v-for="table in tables">
        <div class="card h-100">
          <h5 class="card-header">{{ table.name }}</h5>
          <div class="card-body">
						<table class="table table-borderless table-sm">
						  <tbody>
						    <tr v-for="column in table.columns">
						      <td>{{ column.name }}</td>
						      <td>{{ column.type }}</td>
						    </tr>
						  </tbody>
						</table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    
    <h1 class="my-4">Test</h1>
    
    <!-- Features Section -->
    <div class="row">
      <div class="col-lg-6">
        <label>Input</label>
        <button type="button" class="btn btn-success btn-sm" v-on:click="run">Run</button>
        <button type="button" class="btn btn-success btn-sm" v-on:click="reset">Reset</button>
        <textarea class="form-control" rows="10" v-model="input" placeholder="Request json"></textarea>
      </div>
      <div class="col-lg-6">
			  <label>Output</label>
			  <textarea class="form-control" rows="10"  v-model="output"></textarea>
      </div>
    </div>
    <!-- /.row -->
    
    <div class="row">
	    <div class="col">
	      <div class="alert alert-danger" role="alert" v-if="message">
	        {{ message }}
	      </div>
	    </div>
	  </div>

  </div>
  <!-- /.container -->
  
  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2017-2019 Aigodata</p>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.slim.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script type="text/javascript">
	  var app = new Vue({
		  el: '#app',
		  data: {
			  tables: [],
			  input: "",
			  output: "",
			  message: ""
		  },
		  methods: {
		    getTables: function (event) {
		    	var _this = this;
		    	axios.post('/action', {
		    		structs: 'test'
		    	  })
		    	  .then(function (response) {
		    		  _this.tables = response.data.tables;
		    	  });
		    },
		    run: function (event) {
		    	this.output = "";
		    	this.message = "";
		    	var _this = this;
		    	axios.post('/action', JSON.parse(this.input))
            .then(function (response) {
              _this.output = JSON.stringify(response.data, null, 2);
            })
            .catch(function (error) {
            	_this.message = error.response.data.message;
					  });
		    },
		    reset: function (event) {
		    	axios.post('/reset');
		    }
		  },
		  mounted: function () {
			  this.$nextTick(function () {
				  this.getTables()
			  })
			}
		})
  </script>

</body>

</html>
